/*
    max-width: 50px;
    margin: auto;
}
    */
.navbar{
    background-color:#FFFFFF ;
}

.side{
  min-height: 100vh;
    background-color: rgb(10, 7, 49);
    width: 12%;
    padding-top: 1rem;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.side a{
    margin-top: 50px;
    text-decoration: none;
    color: #FFFFFF;
}
body{
     background-image: url(./image/logo.jpg);
     background-position: center;
     background-size: cover;
     margin: 2px;
     background-repeat: no-repeat;

}