body{
    background-color:#888888;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: #181f58;

}

.container{
    padding: 40px 30px;
    width: 100%;
    max-width: 500px;
    border: 2px solid black;
    background-color:#E0E0E0   
}

.button{
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    
    
    
   
}
.col{ 
    margin-top: 15px;
}
button{
    border-radius: 8px;
}
button:hover{
   background-color: blue;font-size: larger;
    
}