

#container{
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 40px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    border: 2px solid black;
    text-decoration: rgb(107, 164, 184); 
    text-emphasis-color: rgb(17, 17, 85); 
} 

.button{
    border: 2px;
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    
    
    
   
}
.col{ 
    margin-top: 15px;
}
button{
    border-radius: 8px;
}
button:hover{
   background-color: blue;font-size: larger;
    
}
